<div *ngIf='erro' class="alert alert-danger m-2">{{erro}}</div>

<form [formGroup]='signinForm' (ngSubmit)='getFormData(signinForm)' class="w-50 m-auto py-5">

<div class="form-group">
    <label for=""> email :</label>
    <input [class.is-invalid] = 'signinForm.get("email").invalid == true && signinForm.get("email").touched == true' type="text" formControlName='email' class="form-control">
    <span *ngIf='signinForm.get("email").invalid == true && signinForm.get("email").touched == true' class="bgFont p-3 m-3 text-danger"> firstName not valid</span>
</div>
<div class="form-group">
    <label for=""> password :</label>
    <input [class.is-invalid] = 'signinForm.get("password").invalid == true && signinForm.get("password").touched == true' type="text" formControlName='password' class="form-control">
    <span *ngIf='signinForm.get("password").invalid == true && signinForm.get("password").touched == true' class="bgFont m-3 text-danger"> firstName not valid</span>
</div>
<div class="py-2">
    <a routerLink='/register'>register??</a>
</div>
<button [disabled]='signinForm.invalid == true' type="submit" class="btn btn-mine">sign in</button>

</form>